# Variables de entorno para la API local y conexión MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=projec_padddd

# Puerto donde se expondrá la API Express dentro de Electron
API_PORT=4799

# Configuración del servicio OSRM (Open Source Routing Machine)
# Usa https://router.project-osrm.org para pruebas ligeras o apunta a tu instancia local (por ejemplo http://localhost:5000)
OSRM_URL=https://router.project-osrm.org
# driving | foot | bike, etc.
OSRM_PROFILE=driving
# Tiempo máximo en milisegundos para esperar respuesta del OSRM
OSRM_TIMEOUT_MS=10000
